/*body {
    background-color: #D9D6D6;
}

.sider {
    display: flex;
    flex-direction: row;
}

.left_admin {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 750px;
    border: 3px solid #D9D6D6;*/
    /*border: 3px solid #B8AD95;*/
    /*background-color: #2B3467;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.admin_image {
    position: absolute;
    color: #D9D6D6;*/
    /*color: #B8AD95;*/
    /*top: 20px;
    left: 40%;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.admin_name {
    position: absolute;
    color: #D9D6D6;*/
    /*color: #B8AD95;*/
    /*top: 110px;
    left: 27%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.line {
    position: absolute;
    color: #D9D6D6;*/
    /*color: #B8AD95;*/
    /*background-color: #D9D6D6;
    border: 3px solid #D9D6D6;
    width: 100%;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.links_cat_pro_user {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    color: #D9D6D6;*/
    /*color: #B8AD95;*/
    /*top: 200px;
    font-size: x-large;
    left: 30%;
}

.right_div {
    position: relative;
    width: 80%;
    height: 180px;
    border: 3px solid #E6E6E6;*/
    /*border: 3px solid #B8AD95;*/
    /*background-color: #2B3467;
}

.title_name {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    left: 45%;
    top: 50px;
    color: #E6E6E6;*/
    /*color: #B8AD95;*/
/*}*/










body {
    background-color: #D9D6D6;
}

/*.sider {
    display: flex;
    flex-direction: row;
}

.left_admin {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 750px;
    border: 3px solid #D9D6D6;*/
/*border: 3px solid #B8AD95;*/
/*background-color: #2B3467;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.admin_image {
    position: absolute;
    color: #D9D6D6;*/
/*color: #B8AD95;*/
/*top: 20px;
    left: 40%;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.admin_name {
    position: absolute;
    color: #D9D6D6;*/
/*color: #B8AD95;*/
/*top: 110px;
    left: 27%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}*/

.link {
    color: #D9D6D6;
    text-decoration: none;
}
.link2 {
    color: #2B3467;
    padding-left:190px;
}

.links_cat_pro_user {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    color: #D9D6D6;
    /*color: #B8AD95;*/
    /*top: 200px;*/
    font-size: x-large;
    padding-top: 30px;
    /*left: 30%;*/
}

/*.right_div {
    position: relative;
    width: 80%;
    height: 180px;
    border: 3px solid #E6E6E6;*/
/*border: 3px solid #B8AD95;*/
/*background-color: #2B3467;
}

.title_name {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    left: 45%;
    top: 50px;
    color: #E6E6E6;*/
/*color: #B8AD95;*/
/*}*/







.title_div {
    background-color: #2B3467;
    color: #E6E6E6;
    width: 100%;
    height: 120px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 3px solid black;
}

.admin_N {
    height: 115px;
    float: left;
    width: 15%;
    border: 3px solid #E6E6E6;
}

.icon {
    margin-top: 17px;
    font-size: 50px;
}

.page_N {
    margin-top: 40px;
    height: 95px;
    float: right;
    width: 84%;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.LAB {
    margin-top: 0PX;
    font-size: 30px;
}

.admin_Dash {
    float: left;
    width: 15.5%;
    height: 850px;
    background-color: #2B3467;
    color: #E6E6E6;
}

.user_INFO {
    float: right;
    width: 80%;
    height: 850px;
    
}
.us_de {
    width: 90%;
    text-align: center;
    color: #2B3467;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    height:60px;
    padding-left:55px;
}


@media only screen and (min-device-width:0px) and (max-device-width:480px) {
    .admin_Dash {
        float: unset;
        width: 98%;
        height: 220px;
        display: block;
        background-color: #2B3467;
        color: #E6E6E6;
    }

    .page_N {
        margin-top: -73px;
        height: 95px;
        float: right;
        width: 63%;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        font-size: 30px;
    }

    .title_div {
        background-color: #2B3467;
        color: #E6E6E6;
        width: 98%;
        height: 120px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border: 3px solid #2B3467;
    }
    .link2 {
        color: #2B3467;
        padding-left: 155px;
    }
    .admin_N {
        height: 115px;
        float: left;
        width: 36%;
        border: 3px solid #E6E6E6;
    }

    .user_INFO {
        float: unset;
        display: block;
        width: 100%;
        height: 850px;
        padding-top: 220px;
    }
}

@media only screen and (min-device-width:481px) and (max-device-width:768px) {
    .us_de {
        width: 90%;
        text-align: center;
        color: #2B3467;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bold;
        height: 60px;
        padding-left: 18px;
    }
    .link2 {
        color: #2B3467;
        padding-left: 400px;
    }
    .admin_N {
        height: 115px;
        float: left;
        width: 22%;
        border: 3px solid #E6E6E6;
    }
    .admin_Dash {
        float: left;
        width: 22.5%;
        height: 850px;
        background-color: #2B3467;
        color: #E6E6E6;
    }
    .page_N {
        margin-top: -78px;
        height: 95px;
        float: right;
        width: 84%;
        font-weight: bold;
        font-style: italic;
        font-size: 30px;
    }
    .us_de {
        margin-top: 29px;
    }
    .user_INFO {
        float: right;
        width: 73%;
        height: 850px;
    }
}
